<div id="create-movie-fields" class="signed-in-view col-xs-8">
      <div class="create-movie-header">
        <h2>Create New Movie</h2>
      </div>
      <div class="create-movie-forms-body">
      <form id="create-new-movie-input-forms" class="form-inline create-new-movie-input-forms">

        <div class="form-group">
          <label for="movie-title">Movie Title*</label>
          <input id="movie-title-input" type="text" name="movie[title]" class="form-control" autofocus required>
        </div>
        <br>
        <div class="form-group">
          <label for="director">IMDB URL for Movie*</label>
          <input id="movie-title-imdb-url-input" type="text" name="movie[title_imdb_url]" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="director">Rotten Tomatoes Link for Movie</label>
          <input id="movie-title-rotten-url-input" type="text" name="movie[title_rotten_url]" class="form-control">
        </div>
        <div class="form-group">
          <label for="comment">Director*</label>
          <input id="movie-director-input" type="text" name="movie[director]" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="comment">IMDB URL for Director</label>
          <input id="movie-director-imdb-url-input" type="text" name="movie[director_imdb_url]" class="form-control">
        </div>
        <div class="form-group">
          <label for="comment">Writer*</label>
          <input id="movie-writer-input" type="text" name="movie[writer]" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="comment">IMDB URL for Writer</label>
          <input id="movie-writer-imdb-url-input" type="text" name="movie[writer_imdb_url]" class="form-control">
        </div>
        <div class="form-group">
          <label for="comment">Cinematographer*</label>
          <input id="movie-cinematographer-input" type="text" name="movie[cinematographer]" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="comment">IMDB URL for Cinematographer</label>
          <input id="movie-cinematographer-imdb-url-input" type="text" name="movie[cinematographer_imdb_url]" class="form-control">
        </div>
        <div class="form-group">
          <label for="comment">Score Composer*</label>
          <input id="movie-composer-input" type="text" name="movie[music]" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="comment">IMDB URL for Score Composer</label>
          <input id="movie-composer-imdb-url-input" type="text" name="movie[music_imdb_url]" class="form-control">
        </div>
        <div class="form-group">
          <label for="comment">Image URL for Movie*</label>
          <input id="movie-image-url-input" type="text" name="movie[img_url]" class="form-control" required>
        </div>

        <br>
        <div class="create-movie-forms-footer">
          <button id="submit-create-new-movie-button" data-dismiss="modal" type="submit" class="btn btn-success">Create</button>
        </div>
      </form>

    </div>

</div>
