<div class="movies-post-fields-div signed-in-view">
  <!-- change this to "signed-in-view" eventually ^^ -->

  <div class="col-xs-12">
    <div class="col-xs-5">
      <h2>Enter Comment on a Movie</h2>
      <form id="create-new-movie-post-input-forms" class="form-inline">

        <div class="form-group">
          <label for="movie-title">Movie Id</label>
          <input id="movie-id-input" type="number" name="movie_post[movie_id]" class="form-control new-movie-post-input">
        </div>
        <br>
        <div class="form-group">
          <label for="director">User Id</label>
          <input id="user-id-input" type="number" name="movie_post[user_id]" class="form-control new-movie-post-input">
        </div>
        <br>
        <div class="form-group">
          <label for="director">Parent Comment Id</label>
          <input id="parent-movie-post-id-input" type="number" name="movie_post[parent_movie_post_id]" class="form-control new-movie-post-input">
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <input id="comment-input" type="text" name="movie_post[comment]" class="form-control new-movie-post-input">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

</div>
