<!-- [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | -->
<!-- [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | -->
<!-- [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | -->
<!-- [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | [CONTENT SECTION] Begins Here | -->


    <!-- Button Group for Showing and Hiding all [movie posts] -->
    <!-- Button Group for Showing and Hiding all [movie posts] -->
    <div class="btn-group col-xs-6">
      <h3 class="signed-in-view">Comments on Movies</h3>
      <div class="signed-in-view btn-group" style="margin-top: 30px;">
        <button id="get-movie-posts" class="btn btn-primary" data-id="get-movie-posts">Show Movie Comments Table</button>
        <button id="hide-movie-posts" class="btn btn-danger" data-id="get-movie-posts">Hide Movie Comments Table</button>
      </div>
    </div>

    <!-- Button Group for Showing and Hiding all [movies] -->
    <!-- Button Group for Showing and Hiding all [movies] -->
    <div class="btn-group col-xs-6">
      <h3 class="signed-in-view">Movies</h3>
      <div class="signed-in-view btn-group" style="margin-top: 30px;">
        <button id="get-movies" class="btn btn-primary" data-id="get-movies">Show Movies Table</button>
        <button id="hide-movies" class="btn btn-danger" data-id="get-movies">Hide Movies Table</button>
      </div>
    </div>

    <br><br><br><br>

    <!-- Button Group for Showing and Hiding all [movie post fields] -->
    <!-- Button Group for Showing and Hiding all [movie post fields] -->
    <div class="btn-group col-xs-6">
      <div class="signed-in-view btn-group" style="margin-top: 30px;">
        <button id="show-create-movie-post-fields" class="btn btn-primary" data-id="create-movie-post-fields">Create Movie Comment</button>
        <button id="hide-create-movie-post-fields" class="btn btn-danger" data-id="create-movie-fields">Hide Movie Comment Field</button>
      </div>
    </div>

    <!-- Button Group for Showing and Hiding all [movie fields] -->
    <!-- Button Group for Showing and Hiding all [movie fields] -->
    <div class="btn-group col-xs-6">
      <div class="signed-in-view btn-group" style="margin-top: 30px;">
        <button id="show-create-movie-fields" class="btn btn-primary" data-id="create-movie-fields">Create Movie</button>
        <button id="hide-create-movie-fields" class="btn btn-danger" data-id="create-movie-fields">Hide Create Movie Fields</button>
      </div>
    </div>
