<!-- {{#each updatePosts as |updatePost|}}
<div id="update-movie-post-forms" class="col-xs-5 update-movie-post">
  <h2>Update Movie Post</h2>
  <form id="update-movie-post" class="form-inline">

    <div class="form-group">
      <label for="movie-title">Movie Title</label>
      <input type="text" name="movie_post[title]" class="form-control" placeholder="{{moviePost.title}}">
    </div>
    <br>
    <div class="form-group">
      <label for="director">Director</label>
      <input type="text" name="movie_post[director]" class="form-control" placeholder="{{moviePost.director}}">
    </div>
    <br>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input type="text" name="movie_post[comment]" class="form-control" placeholder="{{moviePost.comment}}">

    </div>

    <br>

    <button data-id="{{moviePost.id}}" type="submit" class="btn btn-success">Submit</button>
    {{/each}}
  </form>
</div> -->
