<div id="edit-movie-fields" class="signed-in-view col-xs-8">
  <div class="edit-movie-header">
    <h2>Edit Movie</h2>
  </div>
  <div class="edit-movie-forms-body">
  <form id="edit-movie_params" class="form-inline signed-in-view">

    <div class="form-group hide-movie-id">
      <label for="movie-id">Movie Id</label>
      <input id="edit-movie-id-input" type="number" name="movie[id]" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label for="movie-title">Movie Title*</label>
      <input id="edit-movie-title-input" type="text" name="movie[title]" class="form-control" autofocus required>
    </div>
    <br>
    <div class="form-group">
      <label for="director">IMDB URL for Movie*</label>
      <input id="edit-movie-title-imdb-url-input" type="text" name="movie[title_imdb_url]" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
      <label for="director">Rotten Tomatoes Link for Movie</label>
      <input id="edit-movie-title-rotten-url-input" type="text" name="movie[title_rotten_url]" class="form-control">
    </div>
    <div class="form-group">
      <label for="comment">Director*</label>
      <input id="edit-movie-director-input" type="text" name="movie[director]" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="comment">IMDB URL for Director</label>
      <input id="edit-movie-director-imdb-url-input" type="text" name="movie[director_imdb_url]" class="form-control">
    </div>
    <div class="form-group">
      <label for="comment">Writer*</label>
      <input id="edit-movie-writer-input" type="text" name="movie[writer]" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="comment">IMDB URL for Writer</label>
      <input id="edit-movie-writer-imdb-url-input" type="text" name="movie[writer_imdb_url]" class="form-control">
    </div>
    <div class="form-group">
      <label for="comment">Cinematographer*</label>
      <input id="edit-movie-cinematographer-input" type="text" name="movie[cinematographer]" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="comment">IMDB URL for Cinematographer</label>
      <input id="edit-movie-cinematographer-imdb-url-input" type="text" name="movie[cinematographer_imdb_url]" class="form-control">
    </div>
    <div class="form-group">
      <label for="comment">Score Composer*</label>
      <input id="edit-movie-composer-input" type="text" name="movie[music]" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="comment">IMDB URL for Score Composer</label>
      <input id="edit-movie-composer-imdb-url-input" type="text" name="movie[music_imdb_url]" class="form-control">
    </div>
    <div class="form-group">
      <label for="comment">Image URL for Movie*</label>
      <input id="edit-movie-image-url-input" type="text" name="movie[img_url]" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Confirm Changes</button>
      <button class="btn btn-warning cancel-edit-movie-button">Cancel</button>
    </div>

  </form>
  </div>

</div>
