$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.user-messages {
  font-size: 32px;
  text-align: center;
}

// .row {
//   overflow: hidden;
// }
//
// [class*="col-"] {
//   margin-bottom: -99999px;
//   padding-bottom: 99999px;
// }
